@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<div class="row text-center">

    <h2>Insert title here</h2>

    <p>Insert tezt here</p>

    <div class="col-sm-4">
        <h3>Insert subtitle here</h3>
        <p>Insert text here</p>
    </div>

    <div class="col-sm-4">
        <h3>Insert subtitle here</h3>
        <p>Insert text here</p>
    </div>

    <div class="col-sm-4">
        <h3>Insert subtitle here</h3>
        <p>Insert text here</p>
    </div>

</div>

<div class="row">
        
    <div class="col-sm-5 col-sm-offset-1">
        <h2>Insert title here</h2>
        <p>Insert tezt here</p>
    </div>

    <div class="col-sm-5">
        
    </div>

</div>

<div class="row">
    
    <div class="col-sm-5 col-sm-offset-1">

    </div>

    <div class="col-sm-5">
        <h2>Insert title here</h2>
        <p>Insert tezt here</p>
    </div>

</div>