@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<div class="row text-center margin-bottom-25">

    <h2>Insert title here</h2>

    <p>Insert tezt here</p>

    <div class="col-sm-4">
        <h3>Insert subtitle here</h3>
        <p>Insert text here</p>
    </div>

    <div class="col-sm-4">
        <h3>Insert subtitle here</h3>
        <p>Insert text here</p>
    </div>

    <div class="col-sm-4">
        <h3>Insert subtitle here</h3>
        <p>Insert text here</p>
    </div>

</div>

<div class="row margin-bottom-25">
        
    <div class="col-sm-5 col-sm-offset-1">
        <h2>Insert title here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu felis, pharetra ut sagittis eu, pellentesque sit amet turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus dapibus auctor ipsum eget ultricies. Nunc hendrerit justo eros, ut accumsan tortor efficitur ut. Aenean et mi vestibulum, rhoncus ligula eu, maximus lacus. Nullam non felis a sapien facilisis pretium. Fusce dictum rutrum tortor eget viverra. Curabitur facilisis tristique ultrices. Praesent egestas metus ut neque facilisis, sed eleifend nulla aliquet. Curabitur pulvinar, neque nec maximus auctor, enim leo pellentesque massa, ut laoreet nunc sem in tellus. Morbi sit amet risus sit amet dui placerat posuere. Maecenas fermentum imperdiet tellus eget gravida. </p>
    </div>

    <div class="col-sm-5">
        <img src="~/Content/Images/3669360eccafca4762b80678595ae940.jpg" class="img-responsive" alt="Imagen de muestra"/>
    </div>

</div>

<div class="row margin-bottom-25">
    
    <div class="col-sm-5 col-sm-offset-1">
        <img src="~/Content/Images/3669360eccafca4762b80678595ae940.jpg" class="img-responsive" alt="Imagen de muestra" />
    </div>

    <div class="col-sm-5">
        <h2>Insert title here</h2>
        <p>Maecenas a vulputate magna. Nulla tincidunt faucibus tristique. Aliquam erat volutpat. Curabitur accumsan, leo nec sollicitudin rhoncus, nisi enim lacinia nibh, in lacinia orci tortor at elit. Integer interdum leo in odio convallis suscipit. Sed justo urna, ultricies vitae sollicitudin at, facilisis non diam. Nulla ac libero eu augue eleifend vestibulum sit amet vitae metus. In fermentum, lorem euismod porta tristique, velit neque aliquet ex, vitae iaculis tortor enim sit amet ante. Donec eget ultricies nibh. In hac habitasse platea dictumst. In hac habitasse platea dictumst. </p>
    </div>

</div>