@{
    ViewBag.Title = "¿Quiénes somos?";
    ViewBag.MetaTitle = "¿Quiénes somos? - Semillitas, la Ludoteca donde aprendes jugando";
    ViewBag.MetaDescription = "Semillitas es una institución recreativa-cultural dirigida por profesionales y especialmente pensada para desarrollar la personalidad del niño a través del juego y el juguete, trabajando la psicomotricidad, pedagogía y participación en equipo.";
}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/jumbotron_about.jpg")')">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h3 class="separator-left">Queremos que nos conozcas y que te sientas parte de nuestra familia</h3>
    </div>
</div>

<div class="row">

    <div class="col-sm-4 icon-item">
        <img src="~/Content/Images/Mission-100.png" alt="Mision" class="img-responsive" />
        <h3 class="font-color-1">Mision</h3>
        <p>Brindar un servicio de formación alternativa en base a herramientas del juego
lúdico que favorezcan el desarrollo social, intelectual y emocional de todos los
niños/as estimulando y fomentando el talento, la felicidad, el autoestima, la
creatividad, la motivación, la autonomía y las inteligencias múltiples.</p>
        <p>
Contribuir al desarrollo integral de la facilitar el aprendizaje mediante
actividades lúdicas</p>
    </div>

    <div class="col-sm-4 icon-item">
        <img src="~/Content/Images/Vision-100.png" alt="Vision" class="img-responsive" />
        <h3 class="font-color-2">Vision</h3>
        <p>Ser el principal centro de orientación recreativa en Barcelona que brinde las mejores
técnicas de aprendizaje lúdico para el desarrollo de la formación infantil
multicultural, plurilingüe, donde sea potencializada la capacidad de expresión,
individualidad y vivencias significativas a través del juego.</p>
        <p>Semillitas es un espacio de ocio infantil, lúdico, artístico y de disfrute para
niños/as y padres, que busca favorecer el desarrollo educativo, intelectual,
físico y social a través del juego.</p>
    </div>

    <div class="col-sm-4 icon-item">
        <img src="~/Content/Images/Goal-100.png" alt="Valores" class="img-responsive" />
        <h3 class="font-color-3">Finalidad</h3>
        <p>Institución recreativo- cultural dirigida por profesionales y
especialmente pensada para desarrollar la personalidad del niño a través del juego y el
juguete, trabajando la psicomotricidad, pedagogía y participación en equipo. Nuestro
objetivo es el esparcimiento lúdico de los niños mediante diversas actividades
enfocadas a numerosas edades y bajo la metodología Montessori.</p>
    </div>

</div>

<div class="row bg-color-4 font-color-0" style="padding-bottom: 25px;">
        
    <div class="col-sm-5 col-sm-offset-1">
        <div class="margin-top-75">
            <h2 class="separator-left">Tipos de Usuarios</h2>
            <p>Nuestro tipo de usuarios son los niños, adolescentes, padres y
futuros padres principalmente, cuyo objetivo es la educación en el tiempo libre
(aprender, divertirse, relacionarse, etc.), para obtener un desarrollo integral.</p>
            <h2 class="separator-left">Tipo de Actividades</h2>
            <p>Para los niños de 0 a 6 años se realizarán actividades de
movimientos, psicomotricidad, juego simbólico y de imitación, construcción,
rompecabezas, talleres de dibujo y expresión plástica basada en la metodología
Montessori.</p>
            <p>Para niños de 6 años en adelante se realizaran talleres de tareas dirigidas, zona de
juegos de movimiento, juego simbólico y dramático, construcción y puzles, juegos de
mesa y de sociedad, biblioteca recreativa, sala de videoconsolas.</p>
        </div>
    </div>

    <div class="col-sm-6">
        <img src="~/Content/Images/baby.jpg" class="img-responsive" alt="Imagen de muestra"/>
    </div>

</div>

@*<div class="row quote-item">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu felis, pharetra ut sagittis eu, pellentesque sit amet turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
</div>*@

@*<div class="row margin-bottom-25">
    
    <div class="col-sm-5 col-sm-offset-1">
        <img src="~/Content/Images/3669360eccafca4762b80678595ae940.jpg" class="img-responsive" alt="Imagen de muestra" />
    </div>

    <div class="col-sm-5">
        <h2>Insert title here</h2>
        <p>Maecenas a vulputate magna. Nulla tincidunt faucibus tristique. Aliquam erat volutpat. Curabitur accumsan, leo nec sollicitudin rhoncus, nisi enim lacinia nibh, in lacinia orci tortor at elit. Integer interdum leo in odio convallis suscipit. Sed justo urna, ultricies vitae sollicitudin at, facilisis non diam. Nulla ac libero eu augue eleifend vestibulum sit amet vitae metus. In fermentum, lorem euismod porta tristique, velit neque aliquet ex, vitae iaculis tortor enim sit amet ante. Donec eget ultricies nibh. In hac habitasse platea dictumst. In hac habitasse platea dictumst. </p>
    </div>

</div>*@