@{
    ViewBag.Title = "Contacto";
}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/jumbotron_contacto.jpg")')">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3 class="separator-left">Contáctanos y con gusto responderemos tus preguntas</h3>
    </div>
</div>

<div class="row margin-top-50">
    @*<h2 class="text-center margin-bottom-25">Como llegar</h2>*@
    <div class="col-sm-3 text-center">
        <img src="~/Content/Images/Info-100.png" alt="Coche" />
        <h3>Semillitas</h3>
        <hr />
        <div class="text-left">            
            <p><span class="glyphicon glyphicon-map-marker"></span>Ronda del General Mitre 132, 08022. Barcelona, España</p>
            <p><span class="glyphicon glyphicon-earphone"></span>(+34) 692 340 490</p>
            <p><span class="glyphicon glyphicon-envelope"></span>hola@ludotecasemillitas.com</p>
        </div>
    </div>

    <div class="col-sm-9">
        @*<img src="~/Content/Images/desarrolloafectivo.jpg" alt="Semillitas" class="img-responsive" />*@
        @*<div id="googleMapZoomIn" style="width:100%;height:350px;"></div>*@
        <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d748.1680969880688!2d2.137803929216489!3d41.402920604636286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4980ce8c073d3%3A0x79d8ee583700e624!2sLittle+Lond!5e0!3m2!1ses!2sie!4v1507127596243" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
</div>
<div class="row margin-top-15">
</div>
    @*<div class="row margin-top-15">

            <div class="col-sm-4 simple-item simple-item-contact">
                <div class="content">
                    <img src="~/Content/Images/Car-100.png" alt="Coche" />
                    <h3 class="separator-middle border-color-1">Coche</h3>
                    <p>M50</p>
                    <p>Phasellus consequat, ligula in hendrerit malesuada, libero elit semper massa, eget venenatis ante nisl sit amet ex. Pellentesque mollis tincidunt gravida.</p>
                </div>
            </div>
            <div class="col-sm-4 simple-item simple-item-contact">
                <div class="content">
                    <img src="~/Content/Images/Bus-100.png" alt="Bus" />
                    <h3 class="separator-middle border-color-2">Autobus</h3>
                    <p>Ruta 16, 13, 40</p>
                    <p>Quisque ligula dui, congue id aliquet porta, aliquam sit amet lorem. Ut sed velit nec est sollicitudin suscipit. Maecenas id dui eros.</p>
                </div>
            </div>
            <div class="col-sm-4 simple-item simple-item-contact">
                <div class="content">
                    <img src="~/Content/Images/Subway-100.png" alt="Metro" />
                    <h3 class="separator-middle border-color-4">Metro</h3>
                    <p>Linea roja</p>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean nec ex quam. Aliquam cursus urna nunc, sed ornare sem bibendum vel. Sed a vehicula risus, vitae molestie libero. Morbi elementum sed nibh in ornare. </p>
                </div>
            </div>
        </div>*@



