@{
    ViewBag.Title = "Talleres";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
}

<div class="jumbotron">
    <div class="container">
        <h2>Eventos</h2>
        <h3 class="separator-left">@ViewBag.Message</h3>
    </div>
</div>

<div class="row margin-top-15 margin-bottom-50">

    <div class="col-xs-12 col-sm-8">
        
        <img src="~/Content/Images/unique-birthday-party-palo-alto.jpg" alt="Workshop" class="img-responsive margin-bottom-15" />

        <p><span class="capital bg-color-1">M</span>aecenas suscipit velit a vestibulum aliquet. Aliquam sagittis nisl ac risus tincidunt lacinia. Ut lacus eros, dapibus luctus consequat eget, vulputate non tellus. Ut ac malesuada eros. Donec aliquet quam justo, eu consequat nunc sollicitudin in. Donec non turpis dui. Sed sollicitudin tellus augue, cursus dictum mauris rhoncus in. Suspendisse auctor odio enim, non sollicitudin ex tempus a. Sed lobortis fringilla euismod. Etiam id lacus in augue maximus ornare in et nulla. Nunc consequat consequat nisi sit amet posuere. Quisque at fringilla ligula.</p>

        <p>Nulla elementum et nulla eget mattis. Etiam ac imperdiet ligula. Ut congue, justo in porttitor molestie, mi nunc dapibus lectus, eu tristique ante quam vel enim. Aenean nisl augue, sodales ac arcu ac, tristique fringilla arcu. Suspendisse gravida quam ex, consequat rhoncus elit bibendum quis. Fusce egestas orci quis quam aliquam, ut efficitur ligula varius. Sed luctus ante lectus, id interdum orci tempus non. Fusce blandit, mi a ornare semper, velit est consequat lacus, quis gravida diam purus sit amet dolor. Nam vel eros vitae elit auctor posuere laoreet ac tellus. Cras bibendum lacinia metus a ullamcorper. </p>

        
    </div>

    <div class="col-xs-12 col-sm-4 margin-bottom-25">

        <div class="simple-item simple-item-workshop">

            <div class="content">
                <div class="image">
                    <img src="~/Content/Images/Pin.png" alt="Location" class="img-responsive" />
                </div>
                <div class="description">
                    <span class="title">Parque interior</span>
                    <p>Etiam ac imperdiet ligula. Ut congue, justo in porttitor molestie</p>
                </div>
            </div>

        </div>

        <div class="simple-item simple-item-workshop">

            <div class="content">
                <div class="image">
                    <img src="~/Content/Images/Clock.png" alt="Date" class="img-responsive" />
                </div>
                <div class="description">
                    <span class="title">Lunes 01/01/2018</span>
                    <p>Etiam ac imperdiet ligula. Ut congue, justo in porttitor molestie</p>
                </div>
            </div>

        </div>

        <div class="simple-item simple-item-workshop">

            <div class="content">
                <div class="image">
                    <img src="~/Content/Images/Phone.png" alt="Phone" class="img-responsive" />
                </div>
                <div class="description">
                    <span class="title">(+353) 086 3909843</span>
                    <p>Etiam ac imperdiet ligula. Ut congue, justo in porttitor molestie</p>
                </div>
            </div>

        </div>

        <div class="simple-item simple-item-workshop">

            <div class="content">
                <div class="image">
                    <img src="~/Content/Images/Download.png" alt="Download" class="img-responsive" />
                </div>
                <div class="description">
                    <span class="title">Documento PDF</span>
                    <p>Etiam ac imperdiet ligula. Ut congue, justo in porttitor molestie</p>
                </div>
            </div>

        </div>

    </div>

    
</div>

