@{
    ViewBag.Title = "Planes";
}

<div class="jumbotron">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<div class="row">

    <div class="col-sm-4 red">
        <p><span>01.</span>Choose age</p>
        <p>Ut efficitur odio sapien. Duis elit ex, congue fermentum gravida in, dignissim ac enim. Maecenas eu magna porttitor, consectetur metus ac, hendrerit mi. </p>
    </div>
    <div class="col-sm-4 blue">
        <p><span>02.</span>Choose duration</p>
        <p>Nulla a dolor eget nulla hendrerit maximus non vitae nibh. Phasellus egestas varius molestie. Praesent tempor diam nibh, a consectetur turpis gravida quis. Donec pellentesque nisl nibh, ut pharetra purus rutrum non. </p>
    </div>
    <div class="col-sm-4 green">
        <p><span>01.</span>Ask for quotation</p>
        <p>Nullam egestas, ipsum a dignissim imperdiet, orci lorem feugiat nulla, eu cursus ex quam at odio. </p>
    </div>
    
</div>

<div class="row">

    <h2>Main Packages <small>Choose the best package for your child</small></h2>

    <div class="col-sm-6 red">

        <div class="dual-item">

            <div class="overview">

            </div>

            <div class="description">

            </div>

        </div>

    </div>

    <div class="col-sm-6 red">

        test

    </div>

    <div class="col-sm-6 red">

        test

    </div>

</div>
