
@{
    ViewBag.Title = "En construcción";
    ViewBag.MetaTitle = "En construcción - Semillitas, la Ludoteca donde aprendes jugando";
    ViewBag.MetaDescription = "Esta sección se encuentra en construcción. Por favor inténtalo nuevamente más tarde.";

}

<div class="row">

    <img class="img-responsive" src="~/Content/Images/construccion.jpg" alt="Nuestro sitio esta bajo construccion" />

</div>


