
@{
    ViewBag.Title = "En construcción";
}

<div class="row">

    <img class="img-responsive" src="~/Content/Images/construccion.jpg" alt="Nuestro sitio esta bajo construccion" />

</div>


