
@{
    ViewBag.Title = "En construcción";
}

<div class="row" id="container-construction">

    <div class="col-xs-12 content">
        <h2><span class="highlight">En construcción</span></h2>
        <h4><span class="highlight">Por favor vuelva luego</span></h4>
    </div>
    

</div>


