@{
    ViewBag.Title = "Talleres";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
}

<div class="jumbotron" style="background-image: url('@Url.Content("~/Content/Images/jumbotron_talleres.jpg")')">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3 class="separator-left">Nuestras actividades están pensadas para ti y tus hij@s</h3>
    </div>
</div>

<div id="container-workshops" class="margin-top-15">

    <div class="item-simple-title">
        <h2 class="font-color-1">Talleres todos los días</h2>
        <p>Ven y disfruta de todos los beneficios de nuestras actividades. Contáctanos para más información</p>

    </div>

    <hr />

    <div class="row"> @*bg-color-1 font-color-0" style="background-color:#dda511">*@

        <div class="col-sm-4  stretch-height-js" style="background: url('http://www.kidsomania.com/photos/amazing-wooden-baby-play-gym-by-finn-emma-1.jpg') center center">

        </div>

        <div class="col-sm-8 ">
            <h3 id="gym">Baby Gym</h3>
            <p>
                Nuestro Baby Gym es una propuesta de gimnasio infantil, la cual concibe la
                estimulación temprana, como la aplicación sistemática de un programa de
                actividades ajustadas a las necesidades evolutivas e intereses de cada niño.
                Nuestro propósito es ofrecer un ambiente organizado para la diversión y el
                ejercita miento físico.
            </p>
        </div>

    </div>

    <div class="row bg-color-2 font-color-0" style="background-color:#da5928;">

        <div class="col-sm-4 ">
            <h3 id="yoga">Yoga</h3>
            <p>
                El yoga mejora la salud de todos aquellos que lo practican. Su práctica garantiza un
                cuerpo firme, una mente estable y un espíritu benevolente.
            </p>


            <h3>Yoga Prenatal</h3>
            <p>
                El Yoga para embarazadas ayuda a conocerse y aceptar los cambios en tu cuerpo.
                también ayuda al bienestar interior y a evitar el estrés del parto y mejora la conexión
                entre la madre y él bebe.
            </p>

        </div>

        <div class="col-sm-4  stretch-height-js" style="background: url('https://www.stayathomemum.com.au/wp-content/uploads/2016/03/kids-yoga-be-here-now-yoga.png') center center">
        </div>

        <div class="col-sm-4 ">
            <h3>Yoga Postnatal</h3>
            <p>
                “La integración entre madre e hijo”. El yoga postnatal es una actividad para que la
                mamá junto con su bebé obtenga relajación física, emocional y mental, así como
                apoyo en la recuperación postparto y la posibilidad de recobrar de manera más rápida
                e integral la figura
            </p>

            <h3>Yoga para ninos</h3>
            <p>
                Los niños ejercitarán su respiración y aprenderán a relajarse. Los pequeños que
                practican yoga consiguen el desarrollo y la destreza de los músculos motores, mejorar
                los hábitos posturales, mejoría de la autoestima, y sobre todo mejora el desarrollo de
                la atención, concentración, memoria e imaginación.
            </p>
        </div>

    </div>

    <div class="row"> @*bg-color-3 font-color-0" style="background-color:#d24343">*@

        <div class="col-sm-4  stretch-height-js" style="background: url('http://mothernurture-ct.massagetherapy.com/belly_infant_massage.jpg') center center">
        </div>

        <div class="col-sm-8 ">
            <h3 id="masajes">Masajes infantiles (de 4 meses a 1 año y medio)</h3>
            <p>
                Esta actividad trae beneficios a los bebes como relajarse y aliviar los síntomas del
                estrés y los bloqueos que se producen al encontrarse diariamente con cosas nuevas,
                ayuda a desarrollar la coordinación motora, estimula el sistema inmunológico y
                favorece a que él bebe tenga un sueño más tranquilo y profundo. El masaje ayuda a
                ampliar el contacto afectivo del bebe con sus padres a través del toque, la mirada, la
                piel, la sonrisa, los abrazos y otros estímulos.
            </p>
        </div>

    </div>

    <div class="row bg-color-4 font-color-0" style="background-color:#3ab1cc;">

        <div class="col-sm-4 ">
            <h3 id="lactancia">Lactancia para primerizas (con una comadrona)</h3>
            <p>
                Semillitas busca de la mano de un profesional mostrar a las madres como amamantar
                y como mantener la lactancia aun en caso de separase de sus bebes, así como formar
                un grupo de apoyo entre las nuevas mamas.
                </p>
            <p>
                Los beneficios de amamantar al bebe son muchos, de hecho, La Organización Mundial
                de la Salud y la UNICEF, recomiendan que todos los niños reciban lactancia exclusiva a
                partir del nacimiento durante los primeros 6 meses de vida, y que continúen con la
                lactancia materna junto con alimentos complementarios adecuados hasta los 2 años
                de vida.
            </p>
            <p>
                Sabemos qué, aunque la lactancia es una etapa plena en donde madre e hijo crean un
                importante vínculo, a veces, la inexperiencia de las mamas primerizas puede ser un
                freno. Pocas mujeres han dado el pecho sin tener ningún problema.
            </p>

        </div>

        <div class="col-sm-4  stretch-height-js" style="background: url('http://www.spaldingvoice.co.uk/wp-content/uploads/2014/08/zumba.jpg') center center">
        </div>

        <div class="col-sm-4 ">
            <h3 id="zumba">Zumba (a partir de los seis años).</h3>
            <p>
                Según diversos estudios los niños que practican algún ejercicio tienen un mejor
                rendimiento escolar. La Asociación Nacional de Deporte y Educación física sugiere que
                </p>
            <p>
                los niños en edad preescolar deben practicar 60 minutos al día de alguna actividad
                física.
            </p>
            <p>
                El Zumba es un proceso muy completo que combina el deporte con el baile. Por tanto
                aporta múltiples beneficios para los niños como liberar energía, establecer una
                disciplina así como una vida sana y equilibrada, uce el riesgo de padecer obesidad,
                y permite a los padres y niños compartir una actividad divertida mientras se ponen en
                forma.
            </p>

        </div>

    </div>

    <div class="row"> @*bg-color-5 font-color-0" style="background-color:#3aab69">*@


        <div class="col-sm-8 ">
            <h3 id="art">
                Taller de Art and Craft (a partir de los dos años) Se impartirá todos los días, este
                taller está basado en la metodología Montessori de aprendizaje
            </h3>
            <p>
                En Ludotecas Semillitas nos enfocamos en el método de aprendizaje Montessori, el
                cual es claramente una preparación para la vida que nos presenta una relación nueva
                entre el adulto y el niño, para una vida personal intensa y una vida social armoniosa.
                Nuestra meta es que el niño aprenda por si mismo según un proceso natural
                acompañado de un entorno propicio y guiado por un educador que lo estimule.
            </p>
            <p>
                Los talleres de aprendizaje serán dictados en diferentes lenguas (castellano, catalán e
                inglés) ya que sabemos que un niño aprende mejor una segunda lengua cuando se
                expone a ella entre los 0 a los 7 años.
            </p>
        </div>

        <div class="col-sm-4  stretch-height-js" style="background: url('http://www.bloglet.com/gallery/arts-and-crafts-activities-for-toddlers/bg_inicio_1.jpg') center center">
        </div>

    </div>

</div>

@section scripts {
    
    <script>
        $(document).ready(function () {
            $(".stretch-height-js").each(function () {
                var parent_height = $(this).parent().height();
                if (parent_height > 1000) parent_height = 400;
                $(this).height(parent_height);
            });
        });
    
    </script>

}