@model Semillitas.Web.Models.Slide

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title</h2>

<h3>Estas seguro de continuar?</h3>
<div>

    <hr />

    <img src="@Url.Content(Model.ImagePathEsp)" alt="Slide" style="width: 200px;" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
